.Main {
	width: 100%;
	padding: 70px 0;
	overflow: hidden;
	position: relative;
	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all 0.25s;
	}

	.pre_main {
		position: relative;
		margin: 5px 100px;
		border-radius: 20px;
		transition: all 0.45s;

		.content {
			padding: 40px 0;

			h1 {
				color: rgb(24, 74, 46);
				font-size: 35px;
				font-weight: 700;
				margin-bottom: 30px;
			}

			.block_content {
				display: flex;
				align-items: center;
				justify-content: space-between;
				transition: all 0.25s;

				.block.active {
					opacity: 1;
				}

				.block.inactive {
					opacity: 0.6;
				}

				.block {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-direction: column;
					position: relative;
					width: 220px;
					height: 320px;
					padding: 30px 0;

					border: 1.28px solid rgba(1, 82, 36, 0.5);
					border-radius: 24px;

					h2 {
						color: rgb(20, 35, 61);
						font-size: 17px;
						font-weight: 700;
						text-align: center;
					}

					img {
						width: 130px;
						height: 130px;
					}

					p {
						color: rgb(24, 74, 46);
						font-size: 13px;
						font-weight: 400;
						text-align: center;
					}
				}
			}
		}
	}
}

.progressDot {
	position: absolute;
	bottom: 0;
	width: 20px;
	height: 20px;
	background-color: rgb(0, 123, 255);
	border-radius: 50%;
	transition: left 0.5s ease-in-out;
}
