.Main {
    background: rgba(0, 0, 0, 0.104);
    width: 100%;
    padding: 70px 0;



    .pre_main {
        background: rgb(251, 218, 205);
        margin: 5px 100px;
        border-radius: 20px;

        .content {
            padding: 40px 0;

            h1 {
                color: rgb(24, 74, 46);
                font-size: 35px;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .block_content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 220px;
                    height: 320px;
                    padding: 30px 0;

                    border: 1.28px solid rgba(1, 82, 36, 0.5);
                    border-radius: 24px;
                    background: rgb(251, 218, 205);

                    h2 {
                        color: rgb(20, 35, 61);
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }

                    img {
                        width: 130px;
                        height: 130px;
                    }

                    p {
                        color: rgb(24, 74, 46);
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .block2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 220px;
                    height: 320px;
                    padding: 30px 0;

                    border: 1.28px solid rgba(1, 82, 36, 0.5);
                    border-radius: 24px;
                    background: rgb(113, 255, 175);

                    h2 {
                        color: rgb(20, 35, 61);
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }

                    img {
                        width: 130px;
                        height: 130px;
                    }

                    p {
                        color: rgb(24, 74, 46);
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .block3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 220px;
                    height: 320px;
                    padding: 30px 0;

                    border: 1.28px solid rgba(1, 82, 36, 0.5);
                    border-radius: 24px;
                    background: rgb(183, 241, 238);

                    h2 {
                        color: rgb(20, 35, 61);
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }

                    img {
                        width: 130px;
                        height: 130px;
                    }

                    p {
                        color: rgb(24, 74, 46);
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .block4 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 220px;
                    height: 320px;
                    padding: 30px 0;

                    border: 1.28px solid rgba(1, 82, 36, 0.5);
                    border-radius: 24px;
                    background: rgb(251, 225, 188);

                    h2 {
                        color: rgb(20, 35, 61);
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }

                    img {
                        width: 130px;
                        height: 130px;
                    }

                    p {
                        color: rgb(24, 74, 46);
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .block5 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 220px;
                    height: 320px;
                    padding: 30px 0;

                    border: 1.28px solid rgba(1, 82, 36, 0.5);
                    border-radius: 24px;
                    background: rgb(193, 231, 249);

                    h2 {
                        color: rgb(20, 35, 61);
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }

                    img {
                        width: 130px;
                        height: 130px;
                    }

                    p {
                        color: rgb(24, 74, 46);
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }

            }
        }
    }
}