:root {
  --angel-primary-gradient: 145deg;

  --color-primary: #12abcd;
  --color-secondary: #2c67f2;
  --color-primary-gradient: var(--color-primary), var(--color-secondary);
  --default-primary-gradient: linear-gradient(var(--angel-primary-gradient), var(--color-primary-gradient));


  --color-bg: #ebf9fa;

  /* Основной цвет */
  --color-text: #333;
  /* Цвет текста */
  --color-background: rgba(0, 0, 0, 0.111);
  /* Цвет фона */
  --color-border: #ccc;
  /* Цвет границ */

  /* Шрифты */
  --font-family: 'Inter', Arial, Helvetica, sans-serif;
  --font-size-base: 16px;
  /* Базовый размер шрифта */
  --line-height: 1.6;
  /* Межстрочное расстояние */

  /* Отступы */
  --container-max-width: 1240px;
  --container-padding: 20px;
}

link {
  cursor: pointer;
}

/* ==========================
 Глобальные стили
========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
  scrollbar-width: none;
}

body {
  width: 100%;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: var(--line-height);
  color: var(--color-text);
  background-image: url("/assets/images/Bg_all.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: overlay;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@media (max-width: 768px) {
  .container {
    padding: 0 7px;
  }
}
