.whywe {
	--bg-primary: #ffffff;
	--text-primary: #000000;
	--text-secondary: #404040;
	--circle-bg: #e5e5e5;
	--circle-border: #d4d4d4;
	--line-color: #e5e5e5;
	--progress-from: #5cc489;
	--progress-via: #13b359;
	margin: 100px 0;
	.container {
		h2 {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 1.3em;
		}
		figure {
			position: sticky;
			top: 30px;
		}
		.content {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 100px;
		}

		.wrapper {
			width: 100%;
			font-family: sans-serif;
			overflow: hidden;
		}

		.timelineContainer {
			position: relative;
			max-width: 80rem;
			margin: 0 auto;
			padding-bottom: 5rem;
		}

		.timelineEntry {
			display: flex;
			justify-content: flex-start;
			&:not(.isFirst) {
				padding-top: 5rem;
			}
		}

		.timelineMark {
			position: sticky;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 0;
			align-self: flex-start;
			z-index: 40;
			margin-top: 10px;
		}

		.markCircleOuter {
			height: 3rem;
			width: 3rem;
			position: absolute;
			left: 0;
			background-color: #13b359;
			color: white;
			border-radius: 9999px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.markTitle {
			display: block;
			font-size: 1.4rem;
			line-height: auto;
			text-align: left;
			font-weight: 600;
			color: #000;
		}

		.contentWrapper {
			position: relative;
			padding-left: 5rem;
			width: 100%;
		}

		.timelineLine {
			position: absolute;
			left: 1.4rem;
			top: 3em;
			overflow: hidden;
			width: 4px;
			background: linear-gradient(
				to bottom,
				var(--line-color) 10%,
				var(--line-color) 90%
			);
			mask-image: linear-gradient(to bottom, black 10%, black 90%);
		}

		.timelineProgress {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 4px;
			background: linear-gradient(
				to top,
				var(--progress-from) 0%,
				var(--progress-via) 10%
			);
			border-radius: 9999px;
		}
	}
}
