.footer {
  margin-top: 100px;
  background: white;
  width: 100%;

  .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 70px 0;
    .left_block {
      img {
        width: 130px;
        height: 71px;
        cursor: pointer;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
      }
    }

    .center {
      h2 {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 30px;
        cursor: pointer;
      }

      .nav {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: black;
            bottom: -4px;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.3s ease;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .right_block {
      h2 {
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 30px;
        cursor: pointer;
      }

      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        svg {
          color: rgba(0, 0, 0, 0.753);
          background: rgba(0, 0, 0, 0.127);
          width: 35px;
          height: 35px;
          padding: 7px 7px;
          border-radius: 10px;

          &:hover {
            transform: scale(1.2);
            transition: 0.5s;
          }
        }
      }
    }
  }

  .under_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.627);
      }
    }

    .right {
      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.627);

        span {
          font-weight: 600;
          color: rgba(137, 43, 226, 0.608);
        }
      }
    }
  }
}
